.product-wrapper
{
    margin: 0 auto;
    padding: 1em;
    width: 256px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    font-size: 16px;

    .img-wrapper {
        img {
            width: 100%;
        }
    }
    .action-warpper
    {
        display: flex;
        margin-top: 1em;
        padding: 1rem 0;
        border-top: 1px solid #dedede;

        .button-wrapper, .quantity-wrapper {
            flex: 1;
            text-align: center;
        }
        .button-wrapper
        {
            button {
                width: 36px;
                height:36px;
                background: none;
                border: 0;
                border-radius: 50%;
                font-size: 1em;
                box-shadow: 0 4px 8px rgba($color: #000000, $alpha: .15);
                cursor: pointer;

                &:hover {
                    background-color: rgba($color: #000000, $alpha: 2.5);
                }

                &:action {
                    transform: translateY(2px);
                }
            }
        }
        .quantity-wrapper {
            line-height: 36px;
        }
    }
}